*{
    margin: 0;
    padding: 0;
    font-family: century gothic;
}
header{
    background-image: url(../images\ \(23\).jpeg);
    height: 100vh;
    background-size: cover;
    background-position: centers;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 25px;

}
  ul li{
        display: inline-block;
    }

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 3px 10px;
    border: 1px solid #fff;
    transition: 0.6s ease;
}   
ul li a:hover{
    background-color: cornsilk;
    color: #000;
}
ul li {
    animation: backwards;
    text-align: center;
    rotate: akshay
    ;
}